<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Decrypt Medical Data</title>
</head>
<body>
    <h2>Enter Encrypted Key</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('decrypt_key') }}">
        <input type="text" name="encrypted_key" placeholder="Enter Encrypted Key" required><br><br>
        <button type="submit">Decrypt</button>
    </form>

    <a href="{{ url_for('dashboard') }}">Back to Dashboard</a>
</body>
<footer style="
    background-color: #1e1e1e;
    color: #ffffff;
    text-align: center;
    padding: 15px 10px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
">
  &copy; 2025 All rights reserved to <strong>Hemanth</strong>, <strong>Pavani</strong>, <strong>Vinnela</strong>.
</footer>

</html>
